<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title><%= lang('app.title') %></title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap" rel="stylesheet">
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/design.css">
    <style>
        body {
            /* Handled by design.css */
            margin: 0; padding: 0;
            -webkit-user-select: none;
        }
        #main {
            display: none;
            height: calc(100% - 32px);
            width: 100%;
            position: absolute;
            z-index: 10;
        }
    </style>
</head>
<body bkid="<%=bkid%>">
    <%- include('frame') %>
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
        <div id="loadingContent">
            <div id="loadSpinnerContainer">
                <img id="loadCenterImage" src="assets/images/CSMP_logo.png">
                <div id="loadCSSSpinner"></div>
            </div>
            <div id="loadingLabel">CSMP LAUNCHER</div>
        </div>
    </div>
</body>
</html>